.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin-bottom: .5rem;

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: #0073e6;
    text-decoration: none;
  }

  &__name {
    color: #666;
  }

  &__separator {
    margin: 0 5px;
    color: #999;
  }
}
